/* Sidebar */
[class="contract-trigger"] {
  font-size: 24px;
}
[data-testid="stSidebarNav"] {
  display: none;
}
/* Căn trái văn bản trong sidebar */
section[data-testid="stSidebar"] p {
  text-align: left !important;
}
/* Nếu dùng st.sidebar.markdown(...) thì cần style markdown ở đây */
section[data-testid="stSidebar"] .stMarkdown {
  text-align: left !important;
}

/* Home */
h1,
h3 {
  color: #2c3e50;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}
.stMarkdown p {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: #34495e;
}
img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.stColumn {
  padding: 8px;
}
