/* Sidebar */
[class="contract-trigger"] {
  font-size: 24px;
}
[data-testid="stSidebarNav"] {
  display: none;
}
/* Căn trái văn bản trong sidebar */
section[data-testid="stSidebar"] p {
  text-align: left !important;
}
/* Nếu dùng st.sidebar.markdown(...) thì cần style markdown ở đây */
section[data-testid="stSidebar"] .stMarkdown {
  text-align: left !important;
}

/* Home */
h1,
h3 {
  color: #2c3e50;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}
.stMarkdown p {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  color: #34495e;
}
img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.stColumn {
  padding: 8px;
}

/* Parking Management */
.main {
  padding: 0rem 1rem;
}

.stButton > button {
  width: 100%;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 4px;
}

.stButton > button:hover {
  background-color: #45a049;
}

.title-text {
  text-align: center;
  padding: 20px 0;
  color: #2c3e50;
  font-family: "Helvetica Neue", sans-serif;
}

.upload-section {
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
